In [2]:
# q1
import pandas as pd
data={'name':['amit','riya','sohan'],'age':[20,21,19],'Marks':[85,90,78]}
df=pd.DataFrame(data)
df

    name  age  Marks
0   amit   20     85
1   riya   21     90
2  sohan   19     78

In [4]:
# q2
import pandas as pd
df=pd.read_csv("iris.csv")
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
# q3
from sklearn.datasets import load_iris
import pandas as pd
data=load_iris()
df=pd.DataFrame(data.data,columns=data.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [14]:
# q4
import pandas as pd
data={'marks':[70,75,80,85,90,75]}
df=pd.DataFrame(data)
mean_val=df['marks'].mean()
median_val=df['marks'].median()
mode_val=df['marks'].mode()
variance_val=df['marks'].var()
std_dev=df['marks'].std()
print(mean_val)
print(median_val)
print(mode_val)
print(variance_val)
print(std_dev)

79.16666666666667
77.5
0    75
Name: marks, dtype: int64
54.16666666666667
7.359800721939873

In [41]:
#5
import pandas as pd
data1={'id':[1,2,3,4],'marks':[80,85,56,90]}
data2={'id':[1,2,3,4],'name':['amit','riya','sohan','neha']}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print(df1)
reshaped=df1['marks'].values.reshape(4,1)
print(reshaped)
filtered=df1[df1['marks']>85]
print(filtered)
merged=pd.merge(df1,df2,on='id')
print(merged)
df1_filled=df1.fillna(df1['marks'].mean())
print(df1_filled)
df1_filled["marks_normalized"]=(df1_filled['marks']-df1_filled['marks'].min())/(df1_filled['marks'].max()-df1_filled['marks'].min())
print(df1_filled)

   id  marks
0   1     80
1   2     85
2   3     56
3   4     90
[[80]
 [85]
 [56]
 [90]]
   id  marks
3   4     90
   id  marks   name
0   1     80   amit
1   2     85   riya
2   3     56  sohan
3   4     90   neha
   id  marks
0   1     80
1   2     85
2   3     56
3   4     90
   id  marks  marks_normalized
0   1     80          0.705882
1   2     85          0.852941
2   3     56          0.000000
3   4     90          1.000000